body {
    background-color: rgb(15, 15, 15);
    color: White;
    font-family: 'Arial';
    font-size: 14px;
}

.content {
    max-width: 65ch;
    min-width: 320px;
    margin: 20px auto 0 auto;
    overflow-wrap: break-word;
}
@media (min-width: 320px){
    .content{
        margin: 25px auto 0 auto;
        font-size: 32px;
    }

}

@media (min-width: 768px){
    .content{
        margin: 25px auto 0 auto;
        font-size: 22px
    }
}
@media (min-width: 1080px){
    .content{
        margin: 80px auto 0 auto;
        font-size: 60px;

@media (min-width: 1200px){
    .content{
        margin: 40px auto 0 auto;
        font-size: 16px;
    }
}

@media (min-width: 2400px){
    .content{
        margin:100px auto 0 auto;
        font-size: 80px;
    }
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

b {
    font-weight: bold;
    color:coral;
}

i {
    color: rgb(5, 209, 15);
    font-weight: bold;
    font-style: italic;
}


