body{
    background-color: black;
    margin:0 0;
}

.content {
    display: block;
    color: ghostwhite;
    width: 80%;
    position: relative;
    left: 10%;
    right: 10%;
    top: 5ch;

}

.content > p {
    font-family: Arial;
}

.content > h1 {
    color: darkmagenta;
}

.content > h2 {
    color: darkmagenta;
}

.content > h3 {
    color: darkmagenta;
}

.content > b {
    color: coral;
}

.content > i {
    color: chartreuse;
}
